.container-fluid.big
      .row.big
        .col-xs-3.bg-primary.big.menu
                  .container-fluid
                    .row
                      h1.orbitron HAUL
                      .col-xs-12
                        h4 Menu
                        .list-group
                          a.list-group-item(href="#/bridge/stats") Stats
                          a.list-group-item(href="#/bridge/schedule") Schedule
                          a.list-group-item(href="#/bridge/newworkout") Create Workouts
                          a.list-group-item(href="#/bridge/programs") Create Programs
                          a.list-group-item(href="#/bridge/complete") Complete A Workout
                    .row
                      .col-xs-12
                        h4 Goals
                        .row
                          .col-xs-12
                            h5 Goal Weight:
                            h1.well.well-lg.goal-weight 150lbs
        block whatever
