.container-fluid.big
      .row.big
        .col-xs-3.bg-primary.big.menu
                  .container-fluid
                    .row
                      h1.orbitron HAUL
                      .col-xs-12
                        h4 Menu
                        .list-group
                          button.list-group-item
                            p Stats
                          button.list-group-item
                            p Schedule
                          button.list-group-item
                            p Workouts
                          button.list-group-item
                            p Create Workouts
                          button.list-group-item
                            p Create Programs
                          button.list-group-item
                            p Complete A Workout


                        //- ul.nav.nav-pills.nav-stacked.fat
                        //-   li
                        //-     button.button.btn-trans Stats
                        //-   li
                        //-     button.button.btn-trans Schedule
                        //-   li
                        //-     button.button.btn-trans Workouts
                        //-   li
                        //-     button.button.btn-trans Create Workouts
                        //-   li
                        //-     button.button.btn-trans Create Programs
                        //-   li
                        //-     button.button.btn-trans Complete A Workout
                    .row
                      .col-xs-12
                        h4 Goals
                        .row
                          .col-xs-12
                            h5 Goal Weight:
                            h1.well.well-lg.goal-weight 150lbs
        block whatever
