.container-fluid.big
      .row.big
        .col-xs-2.bg-primary.big.menu
          .container-fluid
            .row
              h1.orbitron HAUL
              a(href="#/user/logout")
                button.btn.btn-warning.btn-sm.btn-block Logout
              .pull-right.special-nav
                .box
                  a(href="#/bridge/stats") Stats
                .box
                  a(href="#/bridge/schedule") Schedule
                .box
                  a(href="#/bridge/newworkout") Create Workouts
                .box
                  a(href="#/bridge/programs") Create Programs
                .box
                  a(href="#/bridge/select") Complete A Workout
        block whatever
