html(lang="en" ng-app="haul")
  //- ng-app="haul"
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title haul
    meta(name='viewport' content="width=device-width, initial-scale=1")

    link(href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300|Orbitron:400,900,500,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='lib/build.css')
    link(rel='stylesheet' href="css/main.css")
    script(type='text/javascript' src='lib/build.js')
    script(type='text/javascript' src='js/main.js')

  block content


