nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand
        p.orbitron.brand HAUL
    a.btn.navbar-right(href="#/login")
      button.btn.btn-warning.navbar-btn Log In
    a.btn.navbar-right(href="#/register")
      button.btn.btn-warning.navbar-btn Sign Up
block page
