extends ../bridge.jade
block whatever
  .col-xs-10.col-xs-offset-2
    form(action="/api/exercises" method="POST")
      input(type="text" placeholder="name" name="name")
      input(type="text" placeholder="grouping" name="grouping")
      input(type="text" placeholder="equipment" name="equipment")
      input(type="submit")
      //- input(type="text" placeholder="")

