.container-fluid
  .row
    .col-xs-12.banner
      h1.orbitron.text-right HAUL
  .row
    .col-xs-12
      h2.text-center Push or pull it doesn't matter. The only thing that matters is that you never stop.
  .row
    .col-xs-10.col-xs-offset-1
      p Fitness is a status. Set of capabilities that results from maintaining certain arduous behaviors over time. Exercise. Diet. These behaviors can push you past your limits again, and again. But only if you refuse to stop. It's the dedication to the long haul that turns dreams in to reality.
      p That's what we're here to help you achieve.



