extends ../navbar.jade
block page
  .container.front
    .row
      .col-xs-12.banner
        h1.orbitron.text-right.big-title HAUL
    .row.front-content.honeycomb(style="padding-bottom: 25px;")
      .col-xs-12
        h2.text-center.page-header Push or pull it doesn't matter. The only thing that matters is that you never stop.
      .col-xs-10.col-xs-offset-1
        p.intro Fitness is a status. Set of capabilities that results from maintaining certain arduous behaviors over time. Exercise. Diet. These behaviors can push you past your limits again, and again. But only if you refuse to stop. It's the dedication to the long haul that turns dreams in to reality.
        p.intro That's what we're here to help you achieve. The Haul fitness tracker is built to help manage your workouts and make sure you stay on track. Join, and start your fitness obsession today.
      .col-xs-10.col-xs-offset-1
        a(href="#/register")
          button.btn.btn-warning.btn-block.center-block Join Now
    .row.banner2
    .row.front-content.honeycomb(style="padding-bottom: 25px;")
      .col-xs-10.col-xs-offset-1
        h3.text-center.page-header What Haul Does for You
      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-6
            .panel
              .panel-head
                .panel-title Workout Creation and Completion
              .panel-body
                p Create your own workouts using our database of exercises. Set the number of sets and reps to fit your goals, and input your estimated difficulty progression for each exercise. When your done you can record your workouts and save them to your profile.
          .col-xs-6
            .panel
              .panel-head
                .panel-title Program Creation and Scheduling
              .panel-body
                p Once you have your personalized workouts created you can assemble them into a program of your own design. Set the number of days in a cycle and arrange your workouts and rest days to fit your lifestyle. Then view your scheduled workouts on a calendar.
          .col-xs-12
            a(href="#/register")
              button.btn.btn-warning.btn-block.center-block Join Now
    .row.foot
      .col-xs-12
        p.text-center App created by #[a(href="https://github.com/james-logan") James Logan]









