nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand
        p.orbitron.brand HAUL
    button.btn.btn-warning.navbar-btn.navbar-right Log In
    button.btn.btn-warning.navbar-btn.navbar-right Sign Up

.container-fluid
  .row
    .col-xs-12.banner
      h1.orbitron.text-right HAUL
  .row
    .col-xs-12
      h2.text-center.page-header Push or pull it doesn't matter. The only thing that matters is that you never stop.
  .row
    .col-xs-10.col-xs-offset-1
      p.intro Fitness is a status. Set of capabilities that results from maintaining certain arduous behaviors over time. Exercise. Diet. These behaviors can push you past your limits again, and again. But only if you refuse to stop. It's the dedication to the long haul that turns dreams in to reality.
  .row
    .col-xs-4.col-xs-offset-1
      p.intro That's what we're here to help you achieve. The Haul fitness tracker is built to help manage your personal fitness. Join, and start your fitness obsession today.
    .col-xs-6
      button.btn.btn-warning.btn-block.center-block Join Now
  .row.banner2
  .row
    .col-xs-10.col-xs-offset-1
      h3.text-center.page-header What Haul Does for You
    .col-xs-10.col-xs-offset-1
      .row
        .col-xs-6
          .panel
            .panel-head
              .panel-title Workout Creation
            .panel-body
              p Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises
        .col-xs-6
          .panel
            .panel-head
              .panel-title Set Progressions
            .panel-body
              p Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises Make exercises Make excercises
      button.btn.btn-warning.btn-block.center-block Join Now







