extends ../bridge.jade
block whatever
  .col-xs-10.col-xs-offset-2
    .row
      .col-xs-12
        h1.page-title Adopt a Program and Set Goals
      .col-xs-6
        h4 Current Program: {{goal.program.name}}
        .panel.panel-primary
          .panel-heading
            .panel-title My Programs
          .panel-body.overflow-scroll
            div.clearfix(ng-repeat="prog in goal.programs")
              h5.pull-left {{prog.name}}
              button(ng-click="goal.adoptProgram($index)").btn.btn-success.pull-right +
        .panel.panel-primary
          .panel-heading
            .panel-title Exercises Available
          .panel-body.overflow-scroll
            div.clearfix(ng-repeat="exer in goal.exercises")
              h5.pull-left {{exer.name}}
              button(ng-click="goal.addGoal(exer)").btn.btn-success.pull-right +
      .col-xs-6.controll-panel.white
        h3 Current Goals
        table.table
          tr
            th Weight
            td
              input(type="number" min="0" ng-model="goal.goalWeight")
          tr(ng-repeat="(key, goal) in goal.goals")
            th {{goal.name}}
            td
              input(type="number" min="0" ng-model="goal.number")
          tr
            td
              button.btn.btn-success.btn-block(ng-click="goal.postGoals()") Save Goals


