extends ../bridge.jade
//- .col-xs-3.bg-primary.big.menu
//-   .container-fluid
//-     .row
//-       h1.orbitron HAUL
//-       .col-xs-12
//-         h4 Menu
//-         .list-group
//-           button.list-group-item
//-             p Stats
//-           button.list-group-item
//-             p Schedule
//-           button.list-group-item
//-             p Workouts
//-           button.list-group-item
//-             p Create Workouts
//-           button.list-group-item
//-             p Create Programs
//-           button.list-group-item
//-             p Complete A Workout


//-         //- ul.nav.nav-pills.nav-stacked.fat
//-         //-   li
//-         //-     button.button.btn-trans Stats
//-         //-   li
//-         //-     button.button.btn-trans Schedule
//-         //-   li
//-         //-     button.button.btn-trans Workouts
//-         //-   li
//-         //-     button.button.btn-trans Create Workouts
//-         //-   li
//-         //-     button.button.btn-trans Create Programs
//-         //-   li
//-         //-     button.button.btn-trans Complete A Workout
//-     .row
//-       .col-xs-12
//-         h4 Goals
//-         .row
//-           .col-xs-12
//-             h5 Goal Weight:
//-             h1.well.well-lg.goal-weight 150lbs

block whatever
  .col-xs-9
    .row
      .col-xs-12
        h2.squish Create Workout
    .row
      .col-xs-5
        .panel.panel-primary
          .panel-heading
            .panel-title Search for Exercises
          .panel-body
            form.search-exercise
              .form-group
                label Exercise Name
                .input-group
                  input.form-control(type='search' name='search' placeholder="Lat Pulldown")
                  span.input-group-btn
                    button.btn.btn-default Search
              h5 Filter By:
              .row
                .col-xs-6
                  h6 Equipment
                  .checkbox
                    label
                      input(type='checkbox')
                      | Dumbbells
                  .checkbox
                    label
                      input(type='checkbox')
                      | Barbells
                  .checkbox
                    label
                      input(type='checkbox')
                      | Machine
                  .checkbox
                    label
                      input(type='checkbox')
                      | Cable
                .col-xs-6
                  h6 Body Part
                  div
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Back
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Chest
                  div
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Legs
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Arms
                  div
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Shoulders
                  div
                    .radio-inline
                      label
                        input(type='radio' name="bodyPart")
                        | Core

      .col-xs-7
        .panel.panel-primary
          .panel-heading
            .panel-title Results
          .panel-body.overflow-scroll
            .panel.exercise
              h5 Lat Pulldown
            .panel.exercise
              h5 Dumbbell Lateral Raise
            .panel.exercise
              h5 Seated Cable Row
            .panel.exercise
              h5 Pendlay Row
            .panel.exercise
              h5 Bent Over Barbell Row
            .panel.exercise
              h5 Face Pull
    .row
      .col-xs-5
        .panel.panel-success
          .panel-heading
            .panel-title Exercises
          .panel-body.overflow-scroll
            .panel.exercise
              h5 Lowbar Back Squats
            .panel.exercise
              h5 Overhead Press
            .panel.exercise
              h5 Deadlift
            .panel.exercise
              h5 Pullup
            .panel.exercise
              h5 Dumbbell Curls
            .panel.exercise
              h5 Cable Curls
      .col-xs-7
        .panel.panel-danger
          .panel-heading
            .panel-title Progression

