extends ../bridge.jade
block whatever
  .col-xs-7.col-xs-offset-3
    h1.page-header Create A Program
    form
      .form-group
        label Program Name
        input(type="text" placeholder="Body Rocking PPL" ng-model="prog.program.name").form-control
      .form-group
        label Number of Days Per Cycle
        input.form-control(type="number" placeholder="7" ng-model="prog.cycle" min="1" max="30")
    .row
      .col-xs-12
        .row
          div(ng-repeat="day in prog.days() track by $index").day.panel.panel-success.pull-left
            .panel-heading
              h5.panel-title Day {{$index + 1}}
            .panel-body
              select(ng-model="prog.program.days[$index]").form-control
                option(value="Rest") Rest
                option(ng-repeat="work in prog.workouts" value="{{work._id}}") {{work.name}}
    .row
      button(ng-click="prog.submit()").btn.btn-warning.btn-block Create Program
