extends ../bridge.jade
block whatever
  .col-xs-9
    .row
      .col-xs-8.col-xs-offset-2
        h1 Complete Your Scheduled Workout for Today:
        a(href="#/bridge/complete")
          button.btn.btn-danger Full-body
        h3 Or, choose from your list of workouts
        .panel.panel-warning
          .panel-heading
            .panel-title Select a Workout
          .panel-body.overflow-scroll
            .panel(ng-repeat="work in select.workouts")
              a(href="#/bridge/complete/{{work._id}}")
                button.btn.btn-primary.btn-block {{work.name}}
