extends ./layout.jade

block content
  body
    .container-fluid.big
      .row.big
        .col-xs-3.bg-primary.big.menu
          .container-fluid
            .row
              h1.orbitron haul.
              .col-xs-12
                h4 Menu
                .list-group
                  .list-group-item
                    p Stats
                  .list-group-item
                    p Schedule
                  .list-group-item
                    p Workouts
                  .list-group-item
                    p Create Workouts
                  .list-group-item
                    p Create Programs
                  .list-group-item
                    p Complete A Workout


                //- ul.nav.nav-pills.nav-stacked.fat
                //-   li
                //-     button.button.btn-trans Stats
                //-   li
                //-     button.button.btn-trans Schedule
                //-   li
                //-     button.button.btn-trans Workouts
                //-   li
                //-     button.button.btn-trans Create Workouts
                //-   li
                //-     button.button.btn-trans Create Programs
                //-   li
                //-     button.button.btn-trans Complete A Workout
            .row
              .col-xs-12
                h4 Goals
                .row
                  .col-xs-12
                    h5 Goal Weight:
                    h1.well.well-lg.goal-weight 150lbs


        .col-xs-9
          .row
            .col-xs-12
              h2 Create Workout
            .col-xs-12
              h3 Search for Exercises
          .row
            .col-xs-5
              .panel.panel-info
                .panel-heading
                  .panel-title Search
                .panel-body
                  form.search-exercise
                    .form-group
                      label Exercise Name
                      .input-group
                        input.form-control(type='search' name='search' placeholder="Lat Pulldown")
                        span.input-group-btn
                          button.btn.btn-default Search
                    h5 Filter By:
                    .row
                      .col-xs-6
                        h6 Equipment
                        .checkbox
                          label
                            input(type='checkbox')
                            | Dumbbells
                        .checkbox
                          label
                            input(type='checkbox')
                            | Barbells
                        .checkbox
                          label
                            input(type='checkbox')
                            | Machine
                        .checkbox
                          label
                            input(type='checkbox')
                            | Cable
                      .col-xs-6
                        h6 Body Part
                        .radio
                          label
                            input(type='radio' name="bodyPart")
                            | Back
                        .radio
                          label
                            input(type='radio' name="bodyPart")
                            | Chest
                        .radio
                          label
                            input(type='radio' name="bodyPart")
                            | Legs
                        .radio
                          label
                            input(type='radio' name="bodyPart")
                            | Arms
                        .radio
                          label
                            input(type='radio' name="bodyPart")
                            | Shoulders

            .col-xs-7
              .panel.panel-info
                .panel-heading
                  .panel-title Results
          .row
            .col-xs-12
              h2 Workout in Progress
          .row
            .col-xs-5
              .panel.panel-primary
                .panel-heading
                  .panel-title Exercises
            .col-xs-7
              .panel.panel-danger
                .panel-heading
                  .panel-title Progression





