@font-face {
  font-family: 'VanBerg';
  src: url('../assets/VanBerger_Stencil.otf')  format('opentype');
}

.menu {
  background-color: rgb(0, 27, 55);
  box-shadow: 0 0 10px black;
  color: white;
  li {
    &:first-child button {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child button {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.squish {
  margin-top: 10px;
}

.panel-heading {
  padding: 3px 15px;
}
.panel-body {
  height: 250px;
}
.list-group {
  color: black;
}

.fat {
  li > button {
    width: 100%;
    /*border-radius: 5px;*/
  }
}

.orbitron {
  font-family: "VanBerg";
  /*font-family: Orbitron;*/
  font-weight: 900;
  /*color: rgb(255, 204, 0);*/
  font-size: 65px;
  /*text-shadow: 0 0 5px rgb(235, 184, 0);*/
}

.btn-trans {
  background: transparent;
  border: 2px solid darken(darkgray, 10%);
}

.big {
  min-height: 100%;
}

.goal-weight {
  color: black;
}

.overflow-scroll {
  overflow-y: scroll;
}
